
<div class ="myBackground">
  <div class="container" *ngIf="show ==0">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form *ngIf='loginForm' [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <div>
              <label>Email address</label>
              <input  formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" >
            </div>
            
          </div>
          <div class="form-group">
            <div>
              <label>Password</label>
              <input  formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="javascript:call_func();" (click)="register()">Register an Account</a>
        </div>
        <div class="text-center">
          <a class="d-block small mt-3" href="javascript:call_func();" (click)="continueWithoutAccount()">Enter without account</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="show==1">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form *ngIf='loginForm' [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div>
                  <label for="fistName" >First name</label>
                  <input formControlName="firstName" type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">       
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <label for="lastName">Last name</label>
                  <input formControlName="lastName" type="text" id="lastName" class="form-control" placeholder="Last name" required="required">      
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label for="inputUsername">Username</label>
              <input formControlName="username" type="username" id="inputUsername" class="form-control" placeholder="username" required="required">
            </div>
            <div>
              <label for="inputEmail">Email address</label>
              <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div>
                  <label for="inputPassword">Password</label>
                  <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                  
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <label for="confirmPassword">Confirm password</label>
                  <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                  
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block">Register</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="javascript:call_func();" (click)="loginShow()">Login Page</a>
        </div>
      </div>
    </div>
</div>