:host ::ng-deep .myCustomModalClass .modal-dialog {
    max-width: 50% !important;
    background-color: red !important;
    color: #4CAF50 !important;
  }

  :host ::ng-deep .myCustomModalClass .modal-dialog .modal-content .modal-header {
    max-width: 565px !important;
    color: red !important;
  }