<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="home.html">City Mobilitie</a>
    <!-- Navbar Search -->
    <form [formGroup]="searchForm"  class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"> 
        <div class="input-group">
            <input formControlName="search" type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="searchVehicles()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="" (click)="DashboardPage(0)">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf="type==0" class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="DashboardPage(1)">
          <i class="fas fa-fw fa-table"></i>
          <span>Users</span></a>
      </li>
      <li *ngIf="type==0" class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="DashboardPage(2)">
          <i class="fas fa-fw fa-table"></i>
          <span>Vehicles</span></a>
      </li>
      <li *ngIf="type==2" class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="DashboardPage(4)">
          <i class="fas fa-fw fa-table"></i>
          <span>History</span></a>
      </li>
      <li *ngIf="type==2" class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="register()">
          <i class="fas fa-fw fa-table"></i>
          <span>Register</span></a>
      </li>
      <li *ngIf="type==1" class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="DashboardPage(3)">
          <i class="fas fa-fw fa-table"></i>
          <span>History</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li *ngIf="user" class="breadcrumb-item">
            {{user.username}}
          </li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Vehicles available: {{vehiclesAvailable}}</div>
              </div>
            </div>
          </div>
          <div  *ngIf="type==0" class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">Vehciles in use: {{vehiclesinUse}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="type==0" class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">Number of users: {{numberOfUsers}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="type==1" class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">Current balance: {{currentSaving}}€</div>
              </div>
            </div>
          </div>
        </div>

        <!-- DataTables Example -->
        <div  *ngIf= "currentView==0" class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Vehicles available</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered"  width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>City</th>
                    <th>Street</th>
                    <th>Battery</th>
                    <th *ngIf="type==1" >Request</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of vehicles">
                    <td>{{vehicle.city}}</td>
                    <td>{{vehicle.street}}</td>
                    <td>{{vehicle.battery}}</td>
                    <td *ngIf="type==1 && vehicle.status ==0" ><a (click)="open(mymodal, vehicle)"><span class="fas fa-check"></span></a></td>
                    <td *ngIf="type==1 && vehicle.status ==1" ><a (click)="checkout(checkoutVehicle, vehicle)"><span class="fas fa-shopping-cart"></span></a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Users View -->
        <div *ngIf= "currentView==1" class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Users</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Money</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.fistName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.money}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div *ngIf= "currentView==3" class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                History</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Start date</th>
                        <th>End Date</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history  of allHistory">
                            <td>{{history.startDate}}</td>
                            <td>{{history.endDate}}</td>
                            <td>{{history.price}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div *ngIf= "currentView==4" class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Parking Spots</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                          <th>City</th>
                          <th>Street</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let spot of spots">
                              <td>{{spot.city}}</td>
                              <td>{{spot.street}}</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Vehicles View -->
        <div *ngIf= "currentView==2" class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Parking Spots</div>
              <div class="card-body">
                <div class="table-responsive">
                    <div>
                    <a (click)="addSpot()"> Create New Parking Place  <span class="fas fa-plus"></span></a>
                    <br>
                    </div>
                    
                        <form *ngIf= "newSpot==true" [formGroup]="newSpotForm" (ngSubmit)="createSpot()">
                            <div class="form-group"> 
                                <div class="col-md-6">
                                    <div>
                                        <label for="city" >City</label>
                                        <input formControlName="city" type="text" id="city" class="form-control" placeholder="City" required="required" autofocus="autofocus">       
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div>
                                        <label for="street" >Street</label>
                                        <input formControlName="street" type="text" id="street" class="form-control" placeholder="Street" required="required" autofocus="autofocus">       
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-block">Create Spot</button>
                                </div>
                            </div>
                        </form>
                    
                  <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>City</th>
                        <th>Street</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let spot of spots">
                            <td>{{spot.city}}</td>
                            <td>{{spot.street}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="card-header">
                <i class="fas fa-table"></i>
                Vehicles available</div>
              <div class="card-body">
                <div class="table-responsive">
                    <a (click)="addVehicle ()"> Add new Vehicle <span class="fas fa-plus"></span></a>
                  
                    <form *ngIf= "newVehicle==true" [formGroup]="vehicleForm" (ngSubmit)="submitNewVehicle()">
                        <div class="form-group"> 
                            <div class="col-md-6">
                                <div>
                                    <label for="city" >City</label>
                                    <input formControlName="city" type="text" id="city" class="form-control" placeholder="City" required="required" autofocus="autofocus">       
                                </div>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-md-6">
                                <div>
                                    <label for="street" >Street</label>
                                    <input formControlName="street" type="text" id="street" class="form-control" placeholder="Street" required="required" autofocus="autofocus">       
                                </div>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-md-3">
                                <button class="btn btn-primary btn-block">Create Vehicle</button>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>City</th>
                        <th>Street</th>
                        <th>Battery</th>
                        <th *ngIf="type==1" >Request</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vehicle of vehicles">
                        <td>{{vehicle.city}}</td>
                        <td>{{vehicle.street}}</td>
                        <td>{{vehicle.battery}}</td>
                        <td *ngIf="type==1 && vehicle.status ==0" ><a (click)="open(mymodal, vehicle)"><span class="fas fa-check"></span></a></td>
                        <td *ngIf="type==1 && vehicle.status ==1" ><a (click)="checkout(checkoutVehicle, vehicle)"><span class="fas fa-shopping-cart"></span></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" type="submit" (click)="logOut()">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Request Vehicle</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to request this vehicle?</p>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="getVehicle()">Ok</button>-->
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
</body>



<ng-template #checkoutVehicle let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Checkout Vehicle</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to checkout this vehicle?</p>
      <form  [formGroup]="checkoutForm">
        <div class="form-group"> 
            <div class="col-md-6">
                <div>
                    <label for="city" >City</label>
                    <input formControlName="city" type="text" id="city" class="form-control" placeholder="City" required="required" autofocus="autofocus">       
                </div>
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-md-6">
                <div>
                    <label for="street" >Street</label>
                    <input formControlName="street" type="text" id="street" class="form-control" placeholder="Street" required="required" autofocus="autofocus">       
                </div>
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-md-6">
                <select formControlName="optionSelected">
                    <option *ngFor="let spot of spots; let i = index" [value]="spots[i].city +','+ spots[i].street">
                        {{spots[i].city}}, {{spots[i].street}}
                    </option>
                </select>
            </div>
        </div>
    </form>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="getVehicle()">Ok</button>-->
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>